footer {
  background-color: var(--header-footer-background-color);
  width: 100%;
  color: black;
  font-size: 1.6rem;
  box-shadow: 0 4px 4px 4px black;


  aside {
    gap: 8px;
    flex: 1 30%;
    padding: 24px;
    text-align: center;
    align-items: center;

    h4 {
      min-height: 40px;
      line-height: 40px;
      font-size: 1.8rem;
      //border-bottom: 1px dashed #ebe3db;
    }
    p {
      font-style: normal;
    }
  }
}


.logo-footer {

  min-width: 152px;
  min-height: 152px;
}


@media (max-width: 760px) {
  footer .row-around{
    flex-direction: column;

  }
}