/**********************************************************/
/***************** GESTION DE LA STRUCTURE ****************/
/**********************************************************/

*:not(head, script, table, tbody, tfoot, thead, tr, td, th, p, code, span),
::after,
::before {
  display: flex;
  flex-direction: column;
}

html {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  font-size: 62.5%;
}

body {
  flex: 1 0;
}

html,
body {
  overflow: auto;
}

body {
  line-height: 1.5;
  font-size: 2.2rem;
  font-weight: 300;
}

main {
  flex: 1 0;
}

/*******************************************************/
/***************** GESTION DU CONTAINER ****************/
/*******************************************************/

.container-auto {
  margin: 0 auto;
  padding: 0 32px;
  max-width: 1480px;
}

.container {
  padding: 0 32px;
}

.main-contain {
  gap: 42px;
}

/********************************************************/
/***************** GESTION DU RESPONSIVE ****************/
/********************************************************/

@media (max-width: 860px) {
  .container {
    padding: 0 16px;
  }
  .main-contain {
    padding-top: 22px;
    gap: 22px;
  }
  body {
    line-height: 1.5;
    font-size: 1.8rem;
  }

  // police d'écriture ?
}

/********************************************************/
/***************** CLASSES PRÉDÉFINIES ******************/
/********************************************************/

.row-around {
  @include row-around;
}

.row-between {
  @include row-between;
}

.row-center {
  @include row-center;
}

.text-center {
  text-align: center;
  padding: 32px;
}

.flex1-0 {
  flex: 1 0;
}

/*********************************************************/
/******** GESTION DES TITRES ET BALISES p/ul/a ***********/
/*********************************************************/

h1,
h2,
h3,
h4 {
  font-weight: bold;
  color: black;
}

h1 {
  margin: 0;
  font-size: 5rem;
  flex: 1 0;
}

h2 {
  margin: 0;
  font-size: 2.5rem;
  padding: 64px 0;
}

h4 {
  margin: 0;
  font-size: 1.7rem;
}

p,
ul {
  margin: 0;
  // color: var(--taupe);
}

a {
  text-decoration: none;
  transition: text-shadow 0.2s ease-out;
  display: contents;
}

a:hover {
  text-shadow: 0 0 0.1em rgb(152, 142, 142);
}

/*****************************************************/
/***************** GESTION DES IMAGES ****************/
/*****************************************************/

*[class*="adaptive-img"] {
  position: relative;
}

*[class*="adaptive-img"] > span,
*[class*="adaptive-img"] > span > img {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  border: none;
  display: block;
  position: absolute;
  box-sizing: border-box;
}

*[class*="adaptive-img"] > span {
  margin: 0;
  opacity: 1;
  width: initial;
  height: initial;
  overflow: hidden;
  background: none;
}

*[class*="adaptive-img"] > span > img {
  width: 0;
  height: 0;
  margin: auto;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}

.adaptive-img--cover > span > img {
  object-fit: cover;
}

.adaptive-img--contain > span > img {
  object-fit: contain;
}


// ::-webkit-scrollbar {
//   z-index: 20;
// }