/********************************************************/
/********************* ALL PAGES ************************/
/********************************************************/

.page-title {
  background-color: black;
  padding: 52px 0;
  text-align: center;
  gap: 16px;

  .page-path {
    font-size: 1.2rem;
    color: white;
    gap: 16px;

    a {
      color: white;
    }
    h1 {
      color: white;
    }
  }
}

/******************************************************/
/********************* PAGE HOME **********************/
/******************************************************/

/*********** PRESENTATION ***********/

.presentation {
  margin: 60px 0;
  text-align: center;

  h1 {
    margin-bottom: 42px;
  }
  p {
    color: #888;
  }
  .home-button {
    margin-top: 42px;
    font-weight: bold;
  }
}

/*********** CARROUSEL ***********/

.carrousel-container {
  height: 75vh;
  margin: 32px 0;
  box-shadow: 0 0 5px 2px rgb(49, 49, 49);

  position: relative;

  ul {
    width: 100%;
    height: 100%;

    .slider-image {
      height: 100%;
      display: none;
    }
    .slider-image.slider-active {
      display: block;
      animation: transition 0.8s;
    }
  }
}

@media (max-width: 880px) {
  .carrousel-container {
    height: 400px;
    margin: 16px 0;
  }
}

@keyframes transition {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.btn-nav {
  cursor: pointer;
  position: absolute;
  bottom: 6%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  .btn-nav-bottom {
    flex-direction: row;

    span::before {
      cursor: pointer;
      content: "";
      width: 15px;
      height: 15px;
      margin: 8px;
      border-radius: 100%;
      background-color: rgba(180, 206, 206, 0.929);
      box-shadow: 0 0 5px 2px #888;
    }
    span:hover {
      transform: scale(1.2);
    }
  }

  .arrow-left:hover,
  .arrow-right:hover {
    transform: scaleY(1.2);
  }
}

/******************************************************/
/******************* PAGE ACTUALITE *******************/
/******************************************************/

/*********** MODALE DE SUPPRESSION ***********/

.myPopup {
  transform: scale(0);
  transition: all 0.3s ease-out;
  position: fixed;
  z-index: 20;
  top: 25%;
  left: 20%;
  overflow: auto;
  width: 60%;
  height: calc(50%);
  justify-content: space-between;
  background-color: rgb(173, 172, 172);
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: rgb(0, 0, 0);
  font-weight: 900;
  padding: 32px;

  span {
    color: white;
    font-style: italic;
  }

  .delete-confirmation {
    gap: 16px;
    align-items: center;
  }
}

#closePopup {
  padding: 8px;
  background: rgba(9, 136, 4, 0.554);
  border-radius: 10px;
  cursor: pointer;
}

#validePopup {
  padding: 8px;
  background: rgba(189, 10, 10, 0.54);
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.active-scale {
  transform: scale(1);
}

.shadow::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

/********* DISPOSITION DES IMAGES *********/

.admin-setup {
  margin: 32px 0;
}

.admin-option {
  background-color: rgba(239, 245, 243, 0.645);
  border-radius: 10px;
  // box-shadow: 0 0 0 1px black;
  padding: 4px;
}

*[class*="admin-btn"] {
  border-radius: 5px;
  padding: 4px;
  font-weight: 300;
  color: white;
}
.admin-btn--create {
  background-color: rgba(9, 136, 4, 0.554);
  a {
    color: black;
  }
}
.admin-btn--upload {
  background-color: rgba(178, 106, 13, 0.553);
  font-size: 1.5rem;
  a {
    color: black;
  }
}
.admin-btn--delete {
  background-color: rgba(189, 10, 10, 0.54);
  font-size: 1.5rem;
  cursor: pointer;
  a {
    color: white;
  }
}
.admin-btn--log {
  background-color: var(--header-footer-background-color);
  a {
    color: black;
  }
}

.grid {
  flex-direction: row;
  flex-wrap: wrap;

  margin-top: 32px;

  li {
    flex: 1 20%;
    max-width: 600px;
    margin: 16px;
    list-style: none;
    border-radius: 4px;
    gap: 12px;
    position: relative;

    .grid-card {
      box-shadow: 0 0 2px black;
      transition: all 0.2s ease-out;
      background-color: rgb(240, 240, 240);
      border-radius: 20px;
      flex: 1 0;

      .image-actualite {
        max-width: 100vw;
        height: auto;
        padding-bottom: 100%;

        > span > img {
          border-radius: 20px 20px 0 0;
        }
      }

      h4 {
        text-align: center;
        padding: 28px;
      }
    }

    .grid-card:hover {
      box-shadow: 0 0 6px black;
      transform: scale(1.05);
    }

    .post-date {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      min-width: 53px;
      background-color: #fff;
      box-shadow: 0 0 9px rgb(0 0 0 / 10%);
      border-radius: 20px 0;
      color: #333;
      text-align: center;
      line-height: 1;
      padding: 2.5px;

      .post-date-day {
        padding-top: 6px;
        padding-bottom: 4px;
        font-size: 24px;
      }

      .post-date-month {
        padding-top: 2px;
        padding-bottom: 8px;
        letter-spacing: 0.3px;
        font-weight: 600;
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 960px) {
  .grid li {
    flex: 1 29%;
  }
}

@media (max-width: 760px) {
  .grid li {
    flex: 1 45%;
  }
}

@media (max-width: 500px) {
  .grid li {
    flex: 1 100%;
  }
}

/********************************************************/
/********************* PAGE VIEWED **********************/
/********************************************************/

.contain-viewed-image {
  align-items: center;

  > div {
    height: 80vh;
  }
}
.viewed-image {
  margin: 32px 0;
  width: 100%;
  // box-shadow: 0 0 3px black;
  // background-color: rgba(245, 245, 220, 0.612);
}

.description-viewed-image {
  padding: 32px;
}

/********************************************************/
/********************* PAGE HOME ************************/
/********************************************************/

/********************************************************/
/********************** PAGE INFO ***********************/
/********************************************************/

/*********** OFFRES *************/

.introduction {
  color: #888;
  gap: 16px;

  > div {
    height: 500px;
    width: 100%;
  }
}

h3 {
  margin: 16px 0;
}

.offre-regulier-train {
  margin: 32px 0;
  gap: 32px;

  h4 {
    text-align: center;
  }

  .offre-regulier-train-info {
    flex-direction: row;
    gap: 42px;

    .offre-image {
      height: 350px;
      width: 50%;
      box-shadow: 0 0 8px black;
    }

    .train-info {
      justify-content: space-between;
      width: 50%;

      .train-info-sup {
        background-color: #a0abeb71;
        border-radius: 10px;
        width: 100%;
        padding: 0 16px;
        box-shadow: 0 0 3px black;

        div {
          flex-direction: row;
          > p {
            flex: 1 0;
          }
        }
      }

      button {
        align-items: flex-end;
      }
    }
  }
}

@media (max-width: 880px) {
  .offre-regulier-train .offre-regulier-train-info {
    flex-direction: column;

    .offre-image {
      width: 100%;
    }
    .train-info {
      width: 100%;
      gap: 32px;
    }
  }
}

/*********** TARIFS *************/

thead,
tbody {
  text-align: center;
  border-collapse: collapse;

  th {
    padding: 16px;
  }
}

.table-season {
  text-align: start;
  font-weight: 800;
}

.table-row {
  transition: all 0.3s ease;
  cursor: pointer;
}

.table-price {
  color: #888;
}

.table-row:hover {
  background-color: #652479;
  color: #ffffff;
  transform: scale(1.02);
}

.table-break {
  background-color: rgba(128, 131, 128, 0.689);
  font-size: 1.5rem;
  font-style: italic;
  padding: 6px;
  text-align: start;
}

.table-pass {
  font-size: 1.5rem;
}

.table-info-sup {
  font-style: italic;
  margin-top: 16px;
  font-size: 1.5rem;
}

caption {
  padding: 12px;
  caption-side: top;
}

.tarif-mobile {
  display: none;
  width: 100%;
  gap: 42px;

  p {
    font-weight: 600;
    margin: 16px;
  }

  td:first-child {
    text-align: start;
    width: 60%;
  }
  td:last-child {
    width: 20%;
  }
  th {
    margin: 0 16px;
  }
}

@media (max-width: 880px) {
  .tarif {
    display: none;
  }
  .tarif-mobile {
    display: block;
  }
}

/*********** NOUS TROUVER *************/

// .adresse {

// }

.google-maps {
  padding: 48px 0;

  iframe {
    border: 0;
    height: 400px;
  }
}

/********************************************************/
/************* PAGE QUI SOMMMES-NOUS ********************/
/********************************************************/

.about_us {
  flex-direction: row;
  align-items: center;
  gap: 22px;

  p {
    width: 100%;
  }
}

.image-about {
  height: 316px;
  width: 100%;
  box-shadow: 0 0 3px black;
  background-color: beige;
}

.image-about:hover::after {
  content: "";
  background-color: #333;
}

@media (max-width: 880px) {
  .about_us {
    flex-direction: column;
  }
}

/******************* DONNÉES TECHNIQUES *********************/

.details {
  padding-bottom: 120px;
}

.details h2 {
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.15;
  letter-spacing: 8px;
  padding: 42px 0;
  color: #333;
}

details {
  font-size: 24px;
  font-weight: 200;
  max-width: 900px;
  line-height: 36px;
  letter-spacing: -0.5px;
}

@media (max-width: 880px) {
  details {
    font-size: 18px;
  }
}

.details__summary,
.details__title {
  font-weight: 600;
}

.details__summary {
  height: 96px;
  flex-direction: row;
  cursor: pointer;
  align-items: center;
  box-shadow: 0px 6px 0 -4px #dbdbdb inset;
}

.details__content {
  padding-bottom: 14px;
}

.details__content p,
.details__title {
  margin-bottom: 16px;
}

.details__row {
  flex-direction: row;
  gap: 16px;
}

summary {
  flex-direction: row;
  justify-content: space-between;
}

summary::after {
  content: "+";
}

details[open] summary::after {
  content: "-";
}

details[open] summary {
  color: #333;
}

@keyframes details-show {
  from {
    opacity: 0;
    transform: translateY(-0.5em);
  }
}

details[open] > *:not(summary) {
  animation: details-show 150ms ease-in-out;
}

/********************************************************/
/*********************** CONTACT ************************/
/********************************************************/

/********************************************************/
/******************* DEVENIR BÉNÉVOLE *******************/
/********************************************************/

/********************************************************/
/************************ FORM **************************/
/********************************************************/

.form {
  width: 60vw;
  padding: 20px;
  margin: 42px 0;
  background-color: rgba(153, 148, 148, 0.15);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  box-shadow: 0px 0px 2px white;

  input,
  textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  button {
    color: white;
    cursor: pointer;
    border: none;
    background-color: #3f51b5;
    padding: 10px;
    margin-top: 42px;
    border-radius: 5px;
  }
}
